body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff8c00; /* ORANGE BACKGROUND */
    color: #ffffff;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.subtitle {
    margin-bottom: 10px;
    font-size: 16px;
}

#viewer {
    width: 100%;
    height: 500px;
}
